* {
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  :root{
    --primaryColor: #FFE5D1;
    --secondColor: #50424C;
    --thirdColor: #FFF8F4;
    --overlayColor: rgba(184, 125, 83, 0.48)
  }
  
  body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: var(--fourColor);
    overflow: auto;
  }

  .containerShopping{
    max-width: 1276px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    padding: 2rem 0;
  }